[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	name = Jonah Pears
	email = jonahpears@gmail.com
[safe]
	directory = /opt/flutter
[http]
	postBuffer = 524288000
